.dropzone {
    border: 2px dashed #0d6efd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.dropzone:hover {
    background-color: #f8f9fa;
}

#progress-container {
    transition: all 0.3s;
}

.bi-cloud-arrow-up {
    font-size: 3rem;
    color: #0d6efd;
}
